/* Default styles for all screen sizes */
.square-card {
    width: 18rem;
    height: 18rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container {
    font-size: 8rem;
  }
  
  /* Media query for tablets and larger screens */
  @media (min-width: 768px) {
    .icon-container {
      font-size: 10rem;
    }
  }
  
  /* Media query for laptops and larger screens */
  @media (min-width: 992px) {
    .icon-container {
      font-size: 12rem;
    }
  }
  
  /* Media query for large desktop screens */
  @media (min-width: 1200px) {
    .icon-container {
      font-size: 14rem;
    }
  }
  